
.body{background-image: url("images/daisy.JPG");
    background-size: 500px 500px;
    border: solid;
    border-width: 2px; 
    border-color: whitesmoke;
    border-radius: 10px;;
    width: 600px;
    height: 250px;
    color: white;
    font-family:'Rock Salt', cursive;
    font-size: medium;
    margin: 20%;
    text-align: center;
    letter-spacing: 7px;}

    .HLWbody{background-image: linear-gradient(olive);
        width: 600px;
        height: 600px;
        color: black;
        font-family:'Rock Salt', cursive;
        font-size: 12px;
        position: absolute;
        top: 100px;
        left: 300px;
        text-align: center;
        letter-spacing: 5px;}

.textbox{background-color: whitesmoke;
       width: 600px;
       height: 250px;
       border-radius: 10px;
       position: absolute;
       top: 300px;
       margin-left: 50px;
       color: black;}

.cursivefont{font-family: 'Rock Salt';}