
.body{background-image: url("images/daisy.JPG");
    background-size: 500px 500px;
    border: solid;
    border-width: 2px; 
    border-color: whitesmoke;
    border-radius: 10px;
    width: 600px;
    height: 250px;
    color: white;
    font-family:'Rock Salt', cursive;
    font-size: medium;
    margin: 15%;
    text-align: center;
    letter-spacing: 7px;}

    .HLWhtml{background-image: url("images/Crumbled.JPEG");
        height: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        color: black;
        font-family:'Rock Salt', cursive;
        font-size: 12px;
        font-weight: large;
        position: absolute;
        top: 150px;
        left: 550px;
        text-align: center;
        letter-spacing: 5px;}
        .HLWheadingbox-1{background-color: whitesmoke;
                       width: 100px;
                       height: 50px;
                       border-radius: 10px;
                       position: absolute;
                       top: 30px;
                       left: 100px;}
                       .HLWheadingbox-2{background-color: whitesmoke;
                        width: 100px;
                        height: 50px;
                        border-radius: 10px;
                        position: absolute;
                        top: 130px;
                        left: 100px;}   
                        .HLWheadingbox-3{background-color: whitesmoke;
                            width: 100px;
                            height: 50px;
                            border-radius: 10px;
                            position: absolute;
                            top: 230px;
                            left: 100px;}
                        .HLWheadingbox-4{background-color: whitesmoke;
                                width: 100px;
                                height: 50px;
                                border-radius: 10px;
                                position: absolute;
                                top: 330px;
                                left: 100px;}   
                        .HLWheadingbox-5{background-color: whitesmoke;
                                    width: 100px;
                                    height: 50px;
                                    border-radius: 10px;
                                    position: absolute;
                                    top: 430px;
                                    left: 100px;}
        

.textbox{background-color: whitesmoke;
       width: 600px;
       height: 250px;
       border-radius: 10px;
       position: absolute;
       top: 300px;
       margin-left: 50px;
       color: black;}

.cursivefont{font-family: 'Rock Salt';}