
.body{background-image: url("daisy.JPG");
    background-size: 500px 500px;
    border: solid;
    border-width: 2px; 
    border-color: #eae3c9;
    border-radius: 10px;;
    width: 600px;
    height: 250px;
    color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: large;
    margin: 20%;
    text-align: center;
    letter-spacing: 7px;}

.textbox{background-color: #eae3c9;
       width: 600px;
       height: 250px;
       border-radius: 10px;
       position: absolute;
       top: 300px;
       margin-left: 50px;
       color: black;}